// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
  font-family: 'Arial', sans-serif;
}

ul {
  font-family: helvetica, sans-serif;
}

input {
  display: block;
  margin: 1rem 0 2rem 0;
}

input, label {
  display: block;
  margin-left: 2rem;
  font-family: monospace;
  font-size: 1.5rem;
}

.edit, .delete {
  list-style: none;
  margin-bottom: 1rem;
}
// .author {
//   margin-bottom: 1rem;
// }
//
// .title {
//   display: block;
// }
