<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--This provides the default layout; CAN change, but DON'T (for now)
    If you want to put a nav bar, you can do put this here so it doesn't repeat in all the view files -->
    <%= yield %>
  </body>
</html>
